@charset "UTF-8";


body {
  background-color: rgb(40, 44, 52);
   font-family: 'IBM Plex Mono', monospace;
}


#sidebar {
  width: 280px; 
  background-color: #23272c; 
}

#main-content {
  margin-left: 280px; 
  padding: 20px; 
  color: rgb(214, 204, 204); 
}
#main-content {
  margin-left: 280px; 
  padding: 20px;
  color: rgb(214, 204, 204);
  

  min-height: 100vh; 
}

.btn-primary {
    --bs-btn-bg: #5294e2;
    --bs-btn-border-color: #5294e2;
    --bs-btn-hover-bg: #60c2c2;
    --bs-btn-hover-border-color: #60c2c2;
    --bs-btn-color: #282C34;           
    --bs-btn-hover-color: #282C34;     
}
.btn-outline-primary {
 
  --bs-btn-color: #5294e2;        
  --bs-btn-border-color: #5294e2; 
  --bs-btn-hover-bg: #5294e2;
  --bs-btn-hover-color: #282C34; 
  --bs-btn-hover-border-color: #5294e2;
  --bs-btn-active-bg: #5294e2
  --bs-btn-active-color: #282C34;
  --bs-btn-active-border-color: #5294e2;
}
.text-gradient { 
      background-image: linear-gradient(45deg, #5294e2, #bf55ec);
      -webkit-background-clip: text; 
      background-clip: text;
      color: transparent;
}

.btn-xl-custom {
  padding: 1rem 1.8rem; 
  font-size: 1.3rem;    
}   